.medium-editor-insert-video {
    video {
        max-width: 100%;
    }

    &-wrapper {
        position: relative;
        display: inline-block;
        font-size: 0;
    }
    &-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    figcaption {
        text-align: center;
        color: #ccc;
        margin-top: 8px;
        font-size: 0.7rem;
        cursor: text;

        &:empty:before {
            content: '動画キャプション';
        }
    }
}

.medium-editor-insert-video-active {
    border: 5px solid $main-color;
}
