.medium-editor-insert-video {
    font-size: 0;

    &-wrapper {
        position: relative;
        display: inline-block;
        font-size: 0;
    }

    &-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &-active {
        border: 5px solid $main-color;
    }

    figcaption {
        text-align: center;
        color: #ccc;
        margin-top: 8px;
        font-size: 0.7rem;
        cursor: text;

        &:empty:before {
            content: '動画キャプション';
        }
    }
}
