.medium-editor-insert-video {
    font-size: 0;

    &-wrapper {
        position: relative;
        display: inline-block;
        font-size: 0;
    }

    &-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &-active {
        border: 5px solid $main-color;
    }

    &-preview {
        background-color: rgba(256,256,256,0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #555;
    }

    figcaption {
        text-align: center;
        color: #ccc;
        margin-top: 8px;
        font-size: 16px;
        cursor: text;
        outline: none;

        &:empty:before {
            content: '動画キャプション';
        }
    }
}
